<ion-view view-title="">
	<ion-content>
		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/porao.jpg">
		    <h2>{{estabelecimento[0].nome}}</h2>
		    <p>(92)98127-0439</p>
		  </div>
		  <div class="item item-body">
		    <img class="full-image" src="img/fotoporao.jpg">
		    <p>
		      O Porão era um anexo do restaurante que nunca chegou a funcionar como restaurante. Através da sugestão do Sr. Luiz Lauschner (pai do Alemão) resolveram aproveitar espaço como bar temático. Garçons vestidos a caráter, música e comida alemã fazem parte desta história que começou por acaso no dia internacional do Rock.
		    </p>		    
		  </div>
		  <div class="list">
			  <a class="item item-icon-left positive" href="#">
			    <i class="icon ion-social-facebook"></i>
			    /poraoalemao
			  </a>
			  <a class="item item-icon-left dark" href="#">
			    <i class="icon ion-social-instagram"></i>
			    /poraoalemao
			  </a>
			  <a class="item item-icon-left positive" href="#">
			    <i class="icon ion-social-twitter"></i>
			    @poraoalemao
			  </a> 
			</div>
		</div>
	</ion-content>
	</ion-content>
</ion-view>